/* color variables */
:root {
  --color-main: #ffffff;
  --color-secondary: #04b4e0;
  --color-background: #f2f7f9;
  --color-transparent: transparent;
  --color-icon: #b5b6b7;
  --color-subtitle: #888;
  --color-title: #222;
  --color-text: #555;

  --color-border-reviews: #e5e6e7;
  --color-company: #a5a6a7;
}

/* general styles */
html {
  font-size: 10px;
}

body {
  width: 100%;
  height: auto;
  font-family: "Poppins", Helvetica, sans-serif;
  font-size: 1.5rem;
  background-color: var(--color-background);
  color: var(--color-text);
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-title);
}

/* background image */
body {
  background-image: url("../img/fondo.png");
  background-size: cover;
  background-position: -28px -120px;
  background-repeat: no-repeat;
}

/* main layout */

.layout {
  position: relative;
  min-width: 1290px;
  width: 75%;
  height: 80vh;
  min-height: 80vh;
  margin: 10vh auto;

  display: grid;
  grid-template-areas: "aside content";
  grid-template-columns: 30% 70%;

  /* shadow */
  border-radius: 4rem;
  box-shadow: 0 0 100px -5px rgba(0, 0, 0, 0.2);
}

/* Aside */
.layout__aside {
  grid-area: aside;
  border-radius: 4rem 0 0 4rem;
  overflow: auto;
  overflow-x: hidden;
}

.aside__user-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  min-height: 100%;
  min-width: 30rem;

  background-color: var(--color-secondary);
  color: var(--color-main);
}

.user-info__container-image {
  display: inline-block;
  width: 18rem;
  height: 18rem;
  margin-top: 5rem;
  position: relative;
  z-index: 1;
}

.user-info__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-color: var(--color-main);
  border: 3px solid var(--color-main);
  border-radius: 20rem;
}

.user-info__container-image::after {
  content: "";
  position: absolute;
  top: 5%;
  left: 9%;
  width: 100%;
  height: 100%;
  background-image: -webkit-repeating-radial-gradient(
    center center,
    #fff,
    #fff 1px,
    transparent 0px,
    transparent 100%
  );
  background-size: 0.6rem 0.6rem;
  border-radius: 30rem;
  opacity: 0.3;
  z-index: -1;
}

.user-info__name {
  color: var(--color-main);
  font-size: 3.5rem;
  font-weight: normal;
  margin-top: 2.6rem;
}

.user-info__job {
  font-size: 1.7rem;
  font-weight: 200;
  color: var(--color-main);
}

.user-info__links {
  margin-bottom: 3.6rem;
}

.links__social {
  text-align: center;
  margin-top: 2rem;
  justify-content: center;
  display: flex;
  flex-direction: row;
}

.social__option {
  height: 3rem;
  width: 3rem;
  font-size: 1.8rem;
  line-height: 3.2rem;
  opacity: 0.9;
  border-radius: 3rem;
  transition: all 300ms linear;
}

.social__option:hover {
  opacity: 1;
  background-color: rgba(255, 255, 255, 0.2);
}

.user-info__buttons {
  margin-top: 2rem;
  margin-bottom: 4rem;
}

.user-info__btn {
  display: inline-block;
  border: 2px solid var(--color-main);
  padding: 3rem;
  padding-top: 1.3rem;
  padding-bottom: 1.3rem;
  /* margin-left: 10rem;
  margin-right: 10rem; */
  justify-content: center;
  border-radius: 3.2rem;
  color: var(--color-main);

  box-shadow: 0 10px 10px -8px rgba(0, 0, 0, 0.22);
  transition: all 300ms ease-in-out;
}

.user-info__btn:hover {
  background-color: var(--color-main);
  color: var(--color-secondary);
}

.user-info__footer {
  position: relative;
  display: inline-block;
  margin-top: 3rem;
  bottom: 2rem;
  font-size: 1rem;
  justify-content: center;
  text-align: center;
}

/* Sidebar menu */
.layout__menu {
  display: block;
  position: absolute;
  top: 0;
  right: -105px;
  min-width: 11rem;
  background-color: var(--color-transparent);
}

.menu__list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 60%;
  min-height: 32rem;
  background-color: var(--color-main);
  box-shadow: 0 0 3rem -0.5rem rgba(0, 0, 0, 0.15);
  border-radius: 4rem;
  padding: 2rem 0;
  margin-left: 2.5rem;
}

.menu__icon {
  color: var(--color-icon);
  font-size: 2.8rem;
  transition: all 300ms ease-in-out;
}

.menu__option {
  display: block;
  width: 100%;
  text-align: center;
}

.menu__option:hover .menu__icon,
.menu__link--active .menu__icon {
  color: var(--color-secondary);
}

.menu__overlay {
  position: absolute;
  right: 0;
  margin-top: -3rem;
  opacity: 0;
  display: block;
  color: #222;
  background-color: var(--color-secondary);
  white-space: nowrap;
  color: var(--color-main);
  padding: 0.5rem 1rem;
  transition: all 300ms ease-in-out;
}

.menu__option:hover .menu__overlay {
  opacity: 1;
  right: 100%;
}

/* Content */
.layout__content {
  grid-area: content;
  background-color: var(--color-secondary);
  border-radius: 0 10rem 10rem 0;
  height: 100%;
  min-height: 100%;
}

.content__page {
  background-color: var(--color-main);
  min-height: 100%;
  border-radius: 3.2rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.page__name {
  font-size: 6rem;
  margin-bottom: 1rem;
}

.page__job {
  font-size: 2.1rem;
  font-weight: lighter;
  color: var(--color-subtitle);
}

/* About me page */

.content__about {
  display: block;
  height: 100%;
  min-height: 100%;
  padding: 6rem;
  padding-right: 3rem;
  overflow: auto;
}

.about__header {
  margin-bottom: 3.5rem;
  display: flex;
}

.about__title {
  font-size: 3.2rem;
  position: relative;
}

.title__color {
  color: var(--color-secondary);
}

/* Info about */
.about__conteiner {
  display: flex;
  width: 100%;
}

.about__personal-info {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 1.5rem;
  padding-right: 3rem;
}

.personal-info__bio {
  flex-basis: 50%;
  text-align: justify;
}

.personal-info__description {
  font-size: 1.5rem;
  line-height: 2.3rem;
}
.personal-info__data {
  flex-basis: 50%;
  margin-bottom: 3.5rem;
  margin-right: 7rem;
}

.personal-info__option {
  margin-bottom: 1rem;
}

.personal-info__title {
  color: var(--color-secondary);
  font-weight: 600;
  margin-right: 0.5rem;
}

/* services */
/* shared */
.about__services,
.about__reviews,
.about__clients,
.about__prices,
.about__extras {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
}

.services__header,
.reviews__header,
.clients__header,
.prices__header,
.extras__header {
  display: flex;
  padding-right: 1.2rem;
  position: relative;
  margin-bottom: 1.5rem;
}

.services__title,
.reviews__title,
.clients__title,
.prices__title,
.extras__title {
  font-size: 2.1rem;
}

/* services only */
.services__container {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.services__service {
  flex-basis: calc(50% - 3rem);
  margin-right: 3rem;
  margin-bottom: 2.5rem;
}

.service__faicon {
  color: var(--color-secondary);
  font-size: 3.8rem;
}

.service__title {
  font-size: 1.8rem;
  margin: 0.5rem 0;
}

.service__description {
  font-size: 1.5rem;
  text-align: justify;
}

/* reviews */

.reviews__container {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.reviews__review {
  flex-basis: calc(50% -2.5rem);
  border: 2px solid var(--color-border-reviews);
  border-radius: 2rem;
  padding-top: 0;
  padding-right: 2.5rem;
  padding-left: 2.5rem;
  padding-bottom: 1.5rem;
  margin-right: 2.5rem;
  margin-bottom: 2.5rem;
  margin-top: 1.5rem;
}

.review__image-container {
  width: 100%;
}

.review__image {
  max-width: 9rem;
  max-height: 9rem;
  border-radius: 9rem;
  margin: 0 auto;
  margin-top: -4.5rem;
  margin-bottom: 1.5rem;
  box-shadow: 0 10px 10px -8px rgba(0, 0, 0, 0.22);
}

.review__description {
  margin-bottom: 1rem;
}

.review__text {
  font-size: 1.5rem;
  line-height: 2.3rem;
}

.review__author {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
}

.review__name {
  margin-bottom: 0.5rem;
  font-size: 1.8rem;
}

.review__company {
  color: var(--color-company);
  font-weight: 300;
  font-size: 1.3rem;
}

.review__icon {
  font-size: 4rem;
  opacity: 0.5;
  color: var(--color-secondary);
}

/* clients */

.about__clients {
  width: 100%;
  margin-bottom: 3rem;
}

.clients__header {
  margin-bottom: 3rem;
}

.clients__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.clients__image {
  width: 240px;
  padding: 1.5rem;
}

.clients__link {
  display: block;
  width: 100%;
  opacity: 0.7;
  transition: all 300ms linear;
}

.clients__link:hover {
  display: block;
  width: 100%;
  opacity: 1;
}

/* prices */
.prices__container {
  display: flex;
  flex-direction: row;
  margin-bottom: 3rem;
  justify-content: center;
}

.prices__box {
  flex-basis: 50%;
  height: 100%;
  border: 2px solid var(--color-border-reviews);
  padding: 3rem;
  margin-right: 3rem;
  border-radius: 1.5rem;
  text-align: center;
  transition: all 300ms ease-in-out;
}

.prices__box:last-of-type {
  margin-right: 0;
}

.prices__box:hover {
  box-shadow: 0 18px 18px -10px rgba(0, 0, 0, 0.15);
  border: 2px solid var(--color-secondary);
  transform: translateY(-1rem);
}

.prices__header {
  margin-bottom: 4rem;
  margin-top: 3rem;
}

.prices__subtitle {
  margin-bottom: 2rem;
}

.prices__text {
  display: inline-block;
  position: relative;
}

.prices__box:hover .prices__text::after {
  content: "";
  height: 0.2rem;
  background-color: var(--color-secondary);
  position: absolute;
  left: 0;
  right: 0;
  bottom: -3px;
}

.prices__price {
  padding-bottom: 1rem;
}

.prices__number {
  display: block;
  font-size: 4.2rem;
  line-height: 1;
  color: var(--color-title);
}

.prices__advice {
  color: var(--color-subtitle);
  display: block;
}

.prices__buy {
  padding-top: 2.5rem;
  padding-bottom: 3rem;
}

.prices__btn {
  display: inline-block;
  border: 2px solid var(--color-border-reviews);
  box-shadow: 0 10px 10px -8px var(--color-border-reviews);
  border-radius: 3rem;
  padding: 1.2rem 3.1rem;
  transition: all 300ms ease-in-out;
}

.prices__btn:hover {
  border: 2px solid var(--color-secondary);
  background-color: var(--color-secondary);
  color: var(--color-main);
}

.prices__reward {
  font-size: 1.3rem;
  padding: 0.2rem 0;
  transition: all 400ms linear;
}

.prices__reward:hover {
  transform: scale(1.1);
}

/* about extras */
.extra__container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 3rem;
}

.extras__header {
  margin-bottom: 3rem;
}

.extra__info {
  flex-basis: 30%;
  border: 2px solid var(--color-border-reviews);
  margin-top: 2rem;
  border-radius: 1rem;
  text-align: center;
  padding: 2.5rem;
  transition: all 300ms ease-in-out;
}

.extra__info:hover {
  transform: skew(4deg);
  box-shadow: 0 10px 10px -8px rgba(0, 0, 0, 0.22);
}

.extra__icon {
  font-size: 3.6rem;
  color: var(--color-secondary);
  margin-bottom: 1.5rem;
}

.extra__subtitle {
  font-size: 1.5rem;
  margin: 1rem 0;
}

.extra__quantity {
  display: block;
  margin: 1.5rem 0;
  line-height: 3rem;
  font-size: 2.4rem;
  color: var(--color-subtitle);
}
