/* color variables */
:root {
  --color-main: #ffffff;
  --color-secondary: #04b4e0;
  --color-background: #f2f7f9;
  --color-transparent: transparent;
  --color-icon: #b5b6b7;
  --color-subtitle: #888;
  --color-title: #222;
  --color-text: #555;
}

/* general styles */
html {
  font-size: 10px;
}

body {
  width: 100%;
  height: auto;
  font-family: "Poppins", Helvetica, sans-serif;
  font-size: 1.5rem;
  background-color: var(--color-background);
  color: var(--color-text);
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-title);
}

/* background image */
body {
  background-image: url("../img/fondo.png");
  background-size: cover;
  background-position: -28px -120px;
  background-repeat: no-repeat;
}

/* main layout */

.layout {
  position: relative;
  min-width: 1290px;
  width: 75%;
  height: 80vh;
  min-height: 80vh;
  margin: 10vh auto;

  display: grid;
  grid-template-areas: "aside content";
  grid-template-columns: 30% 70%;

  /* shadow */
  border-radius: 4rem;
  box-shadow: 0 0 100px -5px rgba(0, 0, 0, 0.2);
}

/* Aside */
.layout__aside {
  grid-area: aside;
  border-radius: 4rem 0 0 4rem;
  overflow: auto;
  overflow-x: hidden;
}

.aside__user-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  min-height: 100%;
  min-width: 30rem;

  background-color: var(--color-secondary);
  color: var(--color-main);
}

.user-info__container-image {
  display: inline-block;
  width: 18rem;
  height: 18rem;
  margin-top: 7rem;
  position: relative;
  background-color: var(--color-main);
  border: 3px solid var(--color-main);
  border-radius: 20rem;
  overflow: hidden;
}

.user-info__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Content */
.layout__content {
  grid-area: content;
}
